
.grafica-ganancias {
    width: 100%;
    margin-bottom: 20px;
  }

  .contenedor {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Altura de la pantalla */
    background-color: #838383;
  }
  
  .rectangulo-gris {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
    width: 95%; /* Ajusta el ancho según lo necesites */
    height: auto; /* Auto para el ajuste según contenido */
    justify-content: space-between; /* Espacio entre columnas */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
  }
  
.botoneslocos{
  background-color: rgb(0, 124, 12);
  border-radius: 5px;
}

.columna-izquierda {
  width: 40%;
}

.columna-derecha {
  display: flex;
  flex-direction: column;
  width: 55%;
  justify-content: space-between;
}

#totalVentas {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.campof{
  width: 40%;
  margin: 1%;
}
.search-input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 60%;
  box-sizing: border-box;
}

.ventas-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid lightblue;
  padding: 12px;
  text-align: center;
  color: #333;
}

th {
  background-color: #f0f8ff;
  color: #333;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
