/* Login container */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #27293d;
    padding: 20px;
}

/* Logo image */
.logo-image {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Borde redondeado */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Form and input styling */
form {
    width: 100%;
    max-width: 400px;
    background-color: #1e1f2b;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.input-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.input-group label {
    color: #dcdcdc;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input-group input {
    padding: 0.8rem;
    border: 1px solid #5c6bc0;
    border-radius: 20px; /* Borde redondeado */
    font-size: 1rem;
    background-color: #27293d;
    color: #ffffff;
}

.input-group input:focus {
    outline: none;
    border-color: #7986cb;
    box-shadow: 0 0 8px rgba(92, 107, 192, 0.6);
}

/* Error message styling */
p {
    font-size: 1rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

/* Buttons styling */
.button-container button, .button-create {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #5c6bc0;
    border: none;
    border-radius: 20px; /* Borde redondeado */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 1rem;
}

.button-container button:hover, .button-create:hover {
    background-color: #7986cb;
    transform: scale(1.05);
}

/* Button Create Account styling */
.button-create {
    background-color: transparent;
    border: 2px solid #5c6bc0;
    color: #5c6bc0;
}

.button-create:hover {
    color: #7986cb;
    border-color: #7986cb;
}
