.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1a1a1a; /* Fondo oscuro */
}

.logo-image {
    width: 100%;
    height: auto;
    max-width: 300px; /* Aumentado para hacer el logo más grande */
}

.button-container {
    display: flex;
    justify-content: space-between; /* Espacia los botones uniformemente */
    margin-top: 20px; /* Aumenta el espacio encima de los botones */
    width: 300px; /* Mantén este ancho según lo necesites */
}

button {
    flex: 1; 
    margin: 0 15px; 
    padding: 10px 15px;
    background-color: #444;
    color: #e0e0e0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
}

.input-group {
    margin-bottom: 15px;
    width: 300px; 
    color: aliceblue; 
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: aliceblue; /* Color de fondo de la entrada */
    color: black; /* Color del texto en la entrada */
}

input:focus {
    outline: none;
    border-color: aliceblue; /* Color al enfocar */
}

button:hover {
    background-color: #666; /* Cambia el color al pasar el mouse */
}

.button-create {
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 10px 20px; /* Ajusta el padding según lo desees */
    background-color: #1e90ff; /* Cambia el color de fondo según tu diseño */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave para cambios de fondo */
    width: 300px;
  }
  
  .button-create:hover {
    background-color: #1c86ee; /* Color de fondo al pasar el cursor */
  }
  
