/* Fondo y color de texto generales */
body {
  background-color: #1a1a1a; /* Un tono de negro */
  color: #e0e0e0; /* Gris claro para el texto */
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.inicio-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.logo-image {
  width: 50%;
  height: auto;
  max-width: 50px; /* Ajusta según lo necesites */
}

.logo-text {
  font-size: 30px;
  color: #e0e0e0; /* Color claro para resaltar sobre el fondo oscuro */
  font-weight: bold;
  margin: 0; /* Para asegurarte de que no haya margen extra */
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c; /* Un poco más claro que el fondo para distinguir la barra */
  padding: 10px 20px;
}

.logo {
  width: 150px; /* Ajusta según el tamaño del logo */
  height: 40px;
  background-color: #444; /* Fondo temporal para visualizar el espacio */
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background-color: #444;
  color: #e0e0e0;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.nav-btn:hover {
  background-color: #666; /* Cambia a un tono más claro al pasar el mouse */
}

.content {
  flex-grow: 1;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: px solid #444;
}
