
  
  .grafica-ganancias {
    width: 100%;
    margin-bottom: 20px;
  }


  /* Estilos generales */
.rectangulo-gris {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
  width: 95%;
  height: auto;
  justify-content: space-between;
}

.columna-izquierda {
  width: 40%;
}

.columna-derecha {
  display: flex;
  flex-direction: column;
  width: 55%;
  justify-content: space-between;
}

/* Estilo de las filas de la columna derecha */
.fila-superior {
  flex: 1;
  margin-bottom: 20px;
}

.fila-inferior {
  flex: 1;
}



/* Estilos para el buscador */
#buscador {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

/* Filtros y total */
.filtros {
  display: flex;
  flex-direction: column;
}

.filtros label, .filtros input {
  margin-bottom: 10px;
}

#filtrarBtn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#filtrarBtn:hover {
  background-color: #45a049;
}

#totalVentas {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.search-input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.ventas-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid lightblue;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f0f8ff; /* Color azul claro para encabezados */
  color: #333;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Color alternativo para filas pares */
}
