.libreSeleccion {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
}

.navbar {
  background-color: #333;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.logo-text {
  color: #fff;
}

.categorias {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.categoria-btn {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.categoria-btn.seleccionada {
  background-color: #ff4081;
}

.filtros {
  margin: 20px 0;
  padding: 15px;
  background-color: #2b2b2b;
  border-radius: 10px;
}

.filtro {
  margin-bottom: 15px;
}

.opciones-filtro {
  display: flex;
  flex-wrap: wrap;
}

.opcion-checkbox {
  margin-right: 10px;
}

.btn-aplicar-filtros {
  background-color: #ff4081;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.productos {
  margin-top: 20px;
}

.producto {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.producto-imagen {
  width: 100px;
  height: auto;
  margin-right: 15px;
}

.producto-info {
  flex-grow: 1;
}

.btn-detalle {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
