.app {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  background-color: #1e1e1e;
  padding: 15px 0;
  display: flex;
  justify-content: center;
}

.logo-text {
  color: #f5f5f5;
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.gray-boxD {
  width: 100%; /* Ocupa el 100% del ancho */
  max-width: 1000px; /* Limita el ancho máximo */
  background-color: #2b2b2b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  padding: 30px; /* Espacio interno */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinear contenido a la izquierda */
}

.purpose-filters {
  display: flex;
  gap: 15px;
  justify-content: space-between; /* Ajusta el espacio entre los filtros y el botón de búsqueda */
}

.search-button {
  background-color: #1e90ff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.search-button:hover {
  background-color: #1c7ac0;
  transform: scale(1.05);
}

.component-category {
  margin-top: 20px;
  padding: 15px; /* Espacio interno para las categorías */
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s;
  width: 100%; /* Ocupa el ancho completo */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

.component-category:hover {
  background-color: #444;
}

.component-items {
  padding-left: 20px; /* Espacio interno para los elementos */
  border-left: 2px solid #1e90ff; /* Línea a la izquierda para separar visualmente */
  margin-top: 10px; /* Espacio superior entre la categoría y los ítems */
}

.option-checkbox {
  display: flex;
  align-items: center;
  margin: 5px 0; /* Espaciado entre las opciones */
}

.option-checkbox input[type="checkbox"] {
  accent-color: #1e90ff; /* Color del checkbox */
  margin-right: 10px; /* Espaciado entre el checkbox y el texto */
}

.option-checkbox label {
  color: #ddd; /* Color del texto de las opciones */
  font-size: 16px;
}

.error-message {
  color: red; /* Color del mensaje de error */
}

.back-button {
  margin-top: 20px; /* Espaciado superior para el botón de regresar */
  padding: 10px 20px;
  background-color: #1e90ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #1c7ac0;
}
