.seleccionEstilizada-container {
  background-color: #121212;
  padding: 20px;
}

.seleccionEstilizada-propositos {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.seleccionEstilizada-proposito-btn {
  background-color: #444;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.seleccionEstilizada-proposito-btn:hover {
  background-color: #1e90ff;
}

.seleccionEstilizada-opciones {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.seleccionEstilizada-card {
  background-color: #2a2a2a;
  color: #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.seleccionEstilizada-card:hover {
  transform: scale(1.05);
}

.seleccionEstilizada-checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.seleccionEstilizada-checkbox-label input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #1e90ff;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Reducido el espacio entre las tarjetas */
  justify-content: center;
  margin-top: 20px;
}
.option-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Ajustamos el padding para dar más espacio */
  width: auto; /* El ancho se ajustará automáticamente al contenido */
  height: 40px; /* Altura ajustada */
  min-width: 100px; /* Un tamaño mínimo para que no sea demasiado pequeño */
  max-width: 200px; /* Establecemos un máximo para evitar que se estire demasiado */
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px; /* Ajuste del tamaño de la fuente */
  color: #333;
}

.option-card span {
  font-weight: bold;
  font-size: 14px; /* Tamaño de texto más adecuado */
  white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
  overflow: hidden;
  text-overflow: ellipsis; /* Texto que excede el espacio se recorta */
}

.option-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.option-card-selected {
  background-color: #007bff;
  color: white;
  border: 2px solid #0056b3;
}

.option-card-selected:hover {
  background-color: #0056b3;
  border-color: #003c8f;
}

.option-card .check-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 20px;
  color: #ffffff;
  display: none;
}

.option-card-selected .check-icon {
  display: block;
}
